span.dashicons.dashicons-admin-page {
  padding-top: 12px;
}

span.dashicons.dashicons-clipboard {
  padding-top: 12px;
}

span.dashicons.dashicons-update {
  padding-top: 12px;
}

span.dashicons.dashicons-visibility {
  padding-top: 12px;
}

span.dashicons.dashicons-sticky {
  padding-top: 12px;
}

span.dashicons.dashicons-arrow-down-alt2 {
  padding-top: 12px;
}

span.dashicons.dashicons-arrow-up-alt2 {
    padding-top: 12px;
}

span.dashicons.dashicons-chart-bar {
    margin-right: 4px;
}

span.dashicons.dashicons-art {
    margin-right: 4px;
}

#save_addnew{
  left: -50px;
  top: -100px;
}

.dashicons-clipboard {
    margin-top: 1px;
}

.butonu {
  position: absolute;
  margin-top: 39%;
  margin-left: 76%;
}

.fab-menu-item, .fab-menu-open-button {
  background: #f44336;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  margin-left: -17px;
  position: absolute;
  top: -7px;
  color: white;
  text-align: center;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);
  right: -8px;
}

.fab-menu-item:hover {
  background: #b71c1c;
  color: #fff;
}

.fab-menu-open-button:hover {
  background: #b71c1c;
}

.fab-menu-open {
  display: none;
}

.hamburger {
    width: 20px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburger-1 {
  transform: translate3d(0, -6px, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, 6px, 0);
}

.fab-menu-open:checked + .fab-menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.fab-menu-open:checked + .fab-menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.fab-menu-open:checked + .fab-menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.fab-menu {
	position: fixed;
	bottom: 7%;
	right: 2.9%;
	z-index: 999;
	display: block;
  }


.dashicons, .dashicons-before:before {
  padding-top: 11px;
  text-decoration: none;
}

.dashicons-art {
    padding-top: -12px;
}

.fab-menu-item:nth-child(3) {
  transition-duration: 180ms;
}
.fab-menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.fab-menu-item:nth-child(5) {
  transition-duration: 180ms;
}
.fab-menu-item:nth-child(6) {
  transition-duration: 180ms;
}

.fab-menu-open-button {
  z-index: 999;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.fab-menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.fab-menu-open:checked + .fab-menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.fab-menu-open:checked ~ .fab-menu-item:nth-child(3) {
  z-index: 999;
  transition-duration: 190ms;
  transform: translate3d(-50px, 0, 0);
}
.fab-menu-open:checked ~ .fab-menu-item:nth-child(4) {
  z-index: 999;
  transition-duration: 390ms;
  transform: translate3d(-100px, 0, 0);
}
.fab-menu-open:checked ~ .fab-menu-item:nth-child(5) {
  z-index: 999;
  transition-duration: 490ms;
  transform: translate3d(-150px, 0, 0);
}
.fab-menu-open:checked ~ .fab-menu-item:nth-child(6) {
  z-index: 999;
  transition-duration: 590ms;
  transform: translate3d(-200px, -50px, 0);
}

.fab-menu-open:checked ~ .fab-menu-item:nth-child(7) {
  z-index: 999;
  transition-duration: 590ms;
  transform: translate3d(-200px, 0, 0);
}

.fab-menu-open:checked ~ .fab-menu-item:nth-child(8) {
  z-index: 999;
  transition-duration: 290ms;
  transform: translate3d(-50px, -50px, 0);
}

.fab-menu-open:checked ~ .fab-menu-item:nth-child(9) {
  z-index: 999;
  transition-duration: 290ms;
  transform: translate3d(-50px, -100px, 0);
}
